h11~=0.12.0
pip~=20.0.2
wheel~=0.36.2
cryptography~=2.8
lxml~=4.5.0
asyncio~=3.4.3
tornado~=6.1
keyring~=18.0.1
PyYAML~=5.3.1
Click~=7.0
ipython~=7.23.1
MarkupSafe~=1.1.1
asgiref~=3.4.1
fastapi~=0.68.0
starlette~=0.14.2
pydantic~=1.8.2
requests~=2.22.0
uvicorn~=0.14.0
Cython~=0.29.23
decorator~=5.0.0
itsdangerous~=1.1.0
Jinja2~=2.11.2
setuptools~=45.2.0
future~=0.18.2